body h1{
    text-align: center;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: larger;
}

canvas{
    border: 1px solid black;
    /* width: "400";
    height: "400"; */
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}